<md-dialog class="compose-dialog email">
    <div class="email-header" layout="row" layout-align="space-between center" >
        <div class="email-header-title">
            <span>{{title}}</span>
        </div>
        <div class="email-header-actions">
            <md-button ng-click="cancel()">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <md-content>
        <form name="emailForm">
            <md-input-container>
                <label for="to">{{'EMAIL.COMPOSE.TO' | translate}}</label>
                <input type="email" name="to" ng-model="email.to" required>
                <div ng-messages="emailForm.to.$error">
                    <div ng-message when="required">
                        {{'EMAIL.COMPOSE.VALIDATION.EMAIL_REQUIRED' | translate}}
                    </div>
                    <div ng-message when="email">
                        {{'EMAIL.COMPOSE.VALIDATION.EMAIL_VALID' | translate}}
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label for="subject">{{'EMAIL.COMPOSE.SUBJECT' | translate}}</label>
                <input ng-model="email.subject" name="subject" required>
                <div ng-messages="emailForm.subject.$error">
                    <div ng-message when="required">
                        {{'EMAIL.COMPOSE.VALIDATION.SUBJECT_REQUIRED' | translate}}
                    </div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <text-angular ng-model="email.content" ta-target-toolbars="editor-toolbar"></text-angular>
            </md-input-container>
        </form>
    </md-content>

    <div class="md-actions" layout="row">
        <text-angular-toolbar name="editor-toolbar"></text-angular-toolbar>
        <span flex></span>
        <md-button ng-click="send()" class="md-primary" ng-disabled="emailForm.$invalid">
            {{'EMAIL.COMPOSE.SEND' | translate}}
        </md-button>
    </div>
</md-dialog>