<md-dialog class="compose-dialog email">
    <div class="email-header" layout="row" layout-align="space-between center" >
        <div class="email-header-title">
            <span>{{'EMAIL.COMPOSE.TITLE' | translate}}</span>
        </div>
        <div class="email-header-actions">
            <md-button ng-click="cancel()">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <md-content>
        <md-input-container>
            <label>{{'EMAIL.COMPOSE.TO' | translate}}</label>
            <input type="email" ng-model="email.to">
        </md-input-container>

        <md-input-container>
            <label>{{'EMAIL.COMPOSE.SUBJECT' | translate}}</label>
            <input ng-model="email.subject">
        </md-input-container>

        <md-input-container flex>
            <text-angular ng-model="email.content" ta-target-toolbars="editor-toolbar"></text-angular>
        </md-input-container>
    </md-content>

    <div class="md-actions" layout="row">
        <text-angular-toolbar class="" name="editor-toolbar"></text-angular-toolbar>
        <span flex></span>
        <md-button ng-click="cancel()">
            {{'EMAIL.COMPOSE.CLOSE' | translate}}
        </md-button>
        <md-button ng-click="send()" class="md-primary">
            {{'EMAIL.COMPOSE.SEND' | translate}}
        </md-button>
    </div>
</md-dialog>