// Email panel
.email-header {
  padding: 16px;
  min-height: 56px;
}
.email-header-title {
  h4 {
    margin: 1.33em 0 0;
    font-weight: 500;
  }
}
.email-header-actions {
  font-size: 18px;
}
.email md-card-content {
  overflow: auto;
}
text-angular {
  border: 1px solid rgba(0,0,0,0.12);
  &.focused, &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.12);
  }

}

.editor-toolbar {
  button {
    border: 0;
    box-shadow: none;
    background: none;
    font-size: 18px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    padding: 0;
  }
}
