<md-content id="email-view" class="md-padding">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>{{'EMAIL.FROM' | translate}}: {{email.from}}</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                <md-button ng-click="reply($event)">
                    <md-icon md-font-icon="icon-reply"></md-icon>
                </md-button>
                <md-button>
                    <md-icon md-font-icon="icon-reply-all"></md-icon>
                </md-button>
                <md-button>
                    <md-icon md-font-icon="icon-forward"></md-icon>
                </md-button>
                <md-button ng-click="openlist()">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-subheader>
            {{email.subject}}
        </md-subheader>
        <md-card-content>
            <p ng-repeat="paragraph in email.content">{{paragraph}}</p>
        </md-card-content>
    </md-card>
</md-content>