// Email panel
.email-header {
  padding: 16px;
  min-height: 56px;
}
.email-header-title {
  h3 {
    margin-top: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h4 {
    margin: 0 0 0.5em;
    line-height: 24px;
  }
  p {
    margin: 0 0.75em;
  }
}
.email-header-actions {
  font-size: 18px;
  .md-button {
    border-radius: 50%;
    width: 40px;
  }
}
.email md-card-content {
  overflow: auto;
}
text-angular {
  border: 1px solid rgba(0,0,0,0.12);
  &.focused, &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.12);
  }
}
// Editor toolbar
.editor-toolbar {
  button {
    border: 0;
    box-shadow: none;
    background: none;
    font-size: 18px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    padding: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    .transition-in & {
      opacity: 0.5;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    &.active, &:hover  {
      opacity: 1;
    }

  }
}
$i: 1;
@while $i <= 5 {
  .transition-in .editor-toolbar {
    button:nth-child(#{$i}) {
        -webkit-transition-delay:(#{0.3 + 0.1 * $i}s);
        -o-transition-delay:(#{0.3 + 0.1 * $i}s);
        transition-delay:(#{0.3 + 0.1 * $i}s);
    }
  }
  $i: $i + 1;
}

// Reply dialog
.email.compose-dialog {
  max-width: 540px;
  min-width: 50%;
}
@media screen and (max-width: 600px) {
  .email.compose-dialog {
    min-width: 92%;
    max-width: 92%;
  }
}
// Old message
text-angular blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-style: italic;
  border-left: 5px solid #eee;
}
