// Email list
.email-inbox-list {
  position: relative;
  z-index: 1;
}
.email-inbox-list-item {
  cursor: pointer;
}
.email-inbox-list .md-subheader {
  margin-right: 0;
  &:after {
    display: none;
  }
}
.email-inbox-list-item-unread {
  h3, h4 {
    font-weight: 500;
  }
}
.email-inbox-list-item-unread-indicator {
  opacity: 0.5;
  font-size: 12px;
}
.md-tile-left {
  margin-right: -16px;
  img {
      border-radius: 50%;
      width: 48px;
      margin: 16px;
  }
}

// Compose button {
.email-compose-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

// Email panel
.email-header {
  padding: 16px;
  min-height: 84px;
}
.email-header-title {
  h4 {
    margin: 1.33em 0 0;
  }
}
.email-header-actions {
  font-size: 18px;
}
.email md-card-content {
  overflow: auto;
}
.email-reply {
  &.md-grid {
    padding: 0 0 80px;
  }
  .email-header, .email-reply-footer {
    padding: 0 40px;
  }
  .email-reply-content {
    padding: 16px 40px;
  }
  text-angular {
    border: 1px solid rgba(0,0,0,0.12);
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .md-toolbar-tools {
    padding-left: 0;
    padding-right: 0;
    .email-reply-footer-actions button {
      background: none;
      border: 0;
      font-size: 18px;
      height: 36px;
      width: 36px;
    }
  }
}
// No email selected
.no-email-selected {
  text-align: center;
  opacity: 0.5;
  h2 {
    font-weight: lighter;
  }
}
