<div class="email-inbox" layout="row" flex>
    <md-button ng-click="composeClick()" class="md-fab md-fab-bottom-right" aria-label="{{'EMAIL.COMPOSE_EMAIL' | translate}}">
        <md-icon md-font-icon="icon-create"></md-icon>
    </md-button>
    <div class="email-inbox-list md-whiteframe-z1" flex="100" flex-gt-sm="50" flex-gt-md="50" flex-gt-lg="40"  ng-show="showEmailList" layout="column">
        <md-content flex>
            <section ng-repeat="group in emailGroups" ng-show="group.emails.length > 0">
                <md-subheader class="md-primary">{{group.name}}</md-subheader>
                <md-list layout="column">
                    <md-item class="email-inbox-list-item" ng-repeat="email in group.emails | orderBy:'-date'" ng-click="openMail(email)" ng-class="{ active: selectedMail === email.id, 'email-inbox-list-item-unread': email.unread }">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img class="list-avatar" ng-src="assets/images/avatars/{{email.avatar}}" class="face" alt="{{email.name}}">
                            </div>
                            <div class="md-tile-content">
                                <h3>{{email.name}}</h3>
                                <h4>{{email.subject}}</h4>
                                <p>
                                    {{email.date | amCalendar}}
                                </p>
                            </div>
                            <md-icon class="email-inbox-list-item-unread-indicator" md-font-icon="icon-brightness-1" ng-show="email.unread"></md-icon>
                        </md-item-content>
                        <md-divider md-inset ng-hide="$index + 1 === group.emails.length"></md-divider>
                    </md-item>
                </md-list>
            </section>
            <h2 ng-show="emails.length === 0">{{'EMAIL.NO_EMAILS_FOUND' | translate}}</h2>
        </md-content>
    </div>

    <div flex ui-view layout="column" layout-align="center center" >
        <div class="no-email-selected">
            <h2>{{'EMAIL.NO_EMAIL_SELECTED' | translate}}</h2>
        </div>
    </div>
</div>