<div class="email-inbox" layout="row" flex>
    <md-button ng-click="composeClick($event)" class="md-fab md-accent md-fab-bottom-right" aria-label="{{'EMAIL.COMPOSE_EMAIL' | translate}}">
        <md-icon md-font-icon="icon-create"></md-icon>
    </md-button>
    <div class="email-inbox-list md-whiteframe-z1" flex="100" flex-gt-sm="50" flex-gt-md="50" flex-gt-lg="40"  ng-show="showEmailList" layout="column">
        <md-content flex>
            <section class="email-inbox-list-animate-repeat" ng-repeat="group in emailGroups" ng-show="group.emails.length > 0">
                <md-subheader class="md-primary">{{group.name}}</md-subheader>
                <md-list layout="column">
                    <md-item class="email-inbox-list-item email-inbox-list-animate-repeat" ng-repeat="email in group.emails | orderBy:'-date'" ng-click="openMail(email)" ng-class="{ active: selectedMail === email.id, 'email-inbox-list-item-unread': email.unread }">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img class="list-avatar animate" ng-src="assets/images/avatars/{{email.avatar}}" class="face" alt="{{email.name}}">
                            </div>
                            <div class="md-tile-content">
                                <div layout="row" layout-align="space-between center">
                                    <h3 class="md-subhead">{{email.name}}</h3>
                                    <p class="md-caption" am-time-ago="email.date"></p>
                                </div>

                                <p class="md-body-2">{{email.subject}}</p>
                                <p class="md-body-1">{{email.content[0] | cut:true:150:' ...'}}</p>
                            </div>
                        </md-item-content>
                        <md-divider ng-hide="$index + 1 === group.emails.length"></md-divider>
                    </md-item>
                </md-list>
            </section>
            <h2 ng-show="emails.length === 0">{{'EMAIL.NO_EMAILS_FOUND' | translate}}</h2>
        </md-content>
    </div>

    <div class="animate-wrapper" layout="column" layout-align="top center" flex>
        <div flex id="ui-admin-email" class="email-single"  ui-view layout="column" layout-align="top center">
            <div flex class="no-email-selected" layout="column" layout-align="center">
                <h2>{{'EMAIL.NO_EMAIL_SELECTED' | translate}}</h2>
            </div>
        </div>
    </div>
</div>