<div class="email-inbox" layout="row" flex>
    <div class="email-inbox-list md-whiteframe-z1" flex="100" flex-gt-md="50" flex-gt-lg="40"  ng-show="showEmailList" layout="column">
        <md-content  flex>
            <section ng-repeat="group in emailGroups" ng-show="group.emails.length > 0">
                <md-subheader class="md-primary">{{group.name}}</md-subheader>
                <md-list layout="column">
                    <md-item ng-repeat="email in group.emails | orderBy:'-date'" ng-click="openMail(email)">
                        <md-item-content>
                            <div class="md-tile-left">
                                <img class="list-avatar" ng-src="assets/images/avatars/{{email.avatar}}" class="face" alt="{{email.name}}">
                            </div>
                            <div class="md-tile-content">
                                <h3>{{email.name}}</h3>
                                <h4>{{email.subject}}</h4>
                                <p>
                                    {{email.date | amCalendar}}
                                </p>
                            </div>
                        </md-item-content>
                        <md-divider md-inset ></md-divider>
                    </md-item>
                </md-list>
            </section>
        </md-content>
    </div>

    <div flex ui-view layout="column">
    </div>
</div>