<md-bottom-sheet class="email-reply md-grid">
    <div class="email-header" layout="row" layout-align="space-between center" >
        <div class="email-header-title">
            <span>{{'EMAIL.REPLY_BOTTOM_SHEET.TITLE' | translate}}</span>
        </div>
        <div class="email-header-actions">
            <md-button ng-click="close()">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <div class="email-reply-content">
        <md-input-container>
            <label>{{'EMAIL.TO' | translate}}</label>
            <input ng-model="reply.to">
        </md-input-container>
        <md-input-container>
            <label>{{'EMAIL.SUBJECT' | translate}}</label>
            <input ng-model="reply.subject">
        </md-input-container>
        <md-input-container flex>
            <text-angular ng-model="reply.content" ta-target-toolbars="editor-toolbar"></text-angular>
        </md-input-container>
    </div>

    <md-divider></md-divider>

    <div class="email-reply-footer">
        <div class="md-toolbar-tools">
            <text-angular-toolbar class="email-reply-footer-actions" name="editor-toolbar"></text-angular-toolbar>

            <div class="email-reply-footer-actions">
                <button ng-click="attach()">
                    <i class="icon-attach-file"></i>
                </button>
            </div>
            <span flex></span>
            <md-button ng-click="send()">
                {{'EMAIL.SEND' | translate}}
            </md-button>
        </h2>
    </div>
</md-bottom-sheet>