<md-bottom-sheet class="md-grid">
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span>{{'EMAIL.REPLY_BOTTOM_SHEET.TITLE' | translate}}</span>
            <span flex></span>
            <md-button ng-click="close()">
                <md-icon md-font-icon="icon-close"></md-icon>
            </md-button>
        </h2>
    </md-toolbar>
    <md-input-container>
        <label>{{'EMAIL.TO' | translate}}</label>
        <input ng-model="reply.to">
    </md-input-container>
    <md-input-container>
        <label>{{'EMAIL.SUBJECT' | translate}}</label>
        <input ng-model="reply.subject">
    </md-input-container>
    <md-input-container flex>
        <text-angular ng-model="reply.content" ta-target-toolbars="editor-toolbar"></text-angular>
    </md-input-container>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <text-angular-toolbar name="editor-toolbar"></text-angular-toolbar>

            <button ng-click="attach()">
                <i class="icon-attach-file"></i>
            </button>
            <span flex></span>
            <md-button ng-click="send()">
                {{'EMAIL.SEND' | translate}}
            </md-button>
        </h2>
    </md-toolbar>
</md-bottom-sheet>