.authentication-page {
  background-image: url(http://ingledow-staging.s3.amazonaws.com/media/blog/2014/12/05/material-design.jpg);
  background-size: cover;
}

.auth-heading {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    margin: 0;
    font-size: 34px;
    font-weight: 500;
}
