<md-content class="padded-docs-page elements-page-cards md-padding" md-scroll-y flex>
    <p class="md-subhead">Inform users about the state of the form as they fill it in. Disable form buttons until form reaches a valid state.</p>
    <p>Note the example below.  The input field is required and also needs a valid email address or a warning message will appear.  Also the Create button will only be enabled when the form is valid.</p>

    <h2 class="md-headline">Form Validation</h2>
    <div class="forms-example-box" layout="column" layout-align="center center">
        <div class="example" layout="column">
            <md-card flex>
                <md-card-content>
                    <h2 class="md-title">Enter your email</h2>
                    <form name="login" novalidate>
                        <md-input-container>
                            <label for="email">email</label>
                            <input id="email" label="email" name="email" type="email" ng-model="user.email" required/>
                            <div ng-messages="login.email.$error">
                                <div ng-message="required">
                                    Please enter your email address.
                                </div>
                                <div ng-message="email">
                                    Please enter a valid email address.
                                </div>
                            </div>
                        </md-input-container>

                        <div class="button-toolbar" layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-disabled="login.$invalid">Create</md-button>
                            <md-button>Cancel</md-button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <h3 class="md-subhead">Example Code</h3>
    <div hljs language="html">
    <form name="login">
        <md-input-container>
            <label for="email">email</label>
            <input id="email" label="email" name="email" type="email" ng-model="user.email" required/>
            <div ng-messages="login.email.$error">
                <div ng-message="required">
                    Please enter your email address.
                </div>
                <div ng-message="email">
                    Please enter a valid email address.
                </div>
            </div>
        </md-input-container>

        <div class="button-toolbar" layout="row" layout-align="end center">
            <md-button class="md-primary" ng-disabled="login.$invalid">Create</md-button>
            <md-button>Cancel</md-button>
        </div>
    </form></div>
</md-content>