---
  title: Video Tutorials
  subtitle: How to create and modify the theme's content
  layout: docs.hbs
---

# Getting Started

## How To Install Video
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/cIYPngslLw4?list=PLjEWC37YdOvvC8P-Xrq-7ntPJucGP5Non" allowfullscreen></iframe>
</div>

## How To Install Theme Plugins
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/RUXmw0keaPA?list=PLjEWC37YdOvvC8P-Xrq-7ntPJucGP5Non" allowfullscreen></iframe>
</div>

## How To Install The Demo Content Video
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/jn1lAzi3Zic?list=PLjEWC37YdOvvC8P-Xrq-7ntPJucGP5Non" allowfullscreen></iframe>
</div>

## How To Update Video
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/DsZR5Tojvnk" allowfullscreen></iframe>
</div>

## How To Download the Theme
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/p7TbRVeNk3Y?list=PLjEWC37YdOvvC8P-Xrq-7ntPJucGP5Non" allowfullscreen></iframe>
</div>