.calendar-page {
  padding: 80px;
  background-size: cover;

  .fc-month-view {
    tbody .fc-row {
      min-height: 3em;
      max-height: 3em;
    }

    td, th {
      border: none;
      background-color: rgba(255, 255, 255, 0.4);
    }
    th {
      font-weight: 500;
    }
  }
  .fc-day-number.fc-other-month {
    opacity: 0.5;
  }
  .fc-widget-header {
    margin-bottom: 20px;
  }
  .fc-widget-content td {
    font-size: 1.3rem;
  }
  .fc-today {
    background: rgba(100, 100, 100, .07);
  }

}

.seed-list {
  list-style: lower-greek;
}