.tri-sidemenu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.md-button {
    display: block;
  }

  .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;

  }

  .active {
    color: blue;
  }


  .menu-toggle-list {
    background: #fff;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    // -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    // -moz-transition-property: max-height;
    // transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    // transition-property: max-height;
  }

  .menu-toggle-list.ng-hide {
    height: 0;
  }

  .menu-toggle-icon {
    background: transparent url(/assets/images/icons/ic_chevron_right_24px.svg) no-repeat center center;
    background-size: 100% auto;
    display: inline-block;
    height: 24px;
    margin: auto 0 auto auto;
    speak: none;
    width: 24px;

    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
  }
  .menu-toggle-icon.toggled {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
}

