<md-sidenav layout="column" class="tri-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">
    <!-- home title link -->
    <md-toolbar class="md-default-theme">
        <h1 class="md-toolbar-tools">
            <a ng-href="/" layout="row">
                Triangular
            </a>
        </h1>
    </md-toolbar>

    <md-content>
        <ul class="tri-sidemenu">
            <li ng-repeat="item in menu.items">
                <tri-menulink item="item" ng-if="item.type === 'link'"></tri-menulink>
                <tri-dropdown item="item" ng-if="item.type === 'dropdown'"></tri-dropdown>
            </li>
        </ul>
    </md-content>
</md-sidenav>