<md-sidenav layout="column" class="tri-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">
    <!-- home title link -->
    <md-toolbar>
        <h1 class="md-toolbar-tools" ng-include="'app/shared/app-logo.html'"></h1>
    </md-toolbar>

    <md-content class="tri-sidemenu">
        <ul>
            <li ng-repeat="menuItem in menuItems">
                <tri-menulink item="menuItem" ng-if="menuItem.type === 'link'"></tri-menulink>
                <tri-dropdown item="menuItem" ng-if="menuItem.type === 'dropdown'"></tri-dropdown>
            </li>
        </ul>
    </md-content>
</md-sidenav>