<md-whiteframe class="login-frame md-whiteframe-z1" layout="column" flex-sm flex-md="50">

    <md-toolbar class="md-tall" layout-align="end stretch" >
        <h1 class="auth-heading">
            {{'HEADER.HEADING' | translate}}
        </h1>
        <h2 class="md-toolbar-tools">
            <span>{{'LOCK.TITLE' | translate}} {{user.name}}</span>
        </h2>
    </md-toolbar>

    <md-content flex class="md-padding">
        <img gravatar-src="user.email" gravatar-size="100">
        <p>{{'LOCK.LOGGED_OUT' | translate}}</p>
        <form name="lock">
            <md-input-container>
                <label for="password">{{'LOCK.PASSWORD.LABEL' | translate}}</label>
                <input  id="password" label="password" name="password" type="password" ng-model="user.password" required/>
                <div ng-messages for="login.password.$error">
                    <div ng-message when="required">
                        {{'LOCK.PASSWORD.PLEASE_ENTER' | translate}}
                    </div>
                </div>
            </md-input-container>
            <md-button block class="md-raised tri-button-lg md-primary tri-fullwidth" ng-click="loginClick()" ng-disabled="lock.$invalid">{{'LOCK.LOGIN' | translate}}</md-button>

            <md-button class="text-center block" ng-click="logoutClick()" href="#/">{{'LOCK.LOGOUT' | translate}}</md-button>
        </form>
    </md-content>
</md-whiteframe>
