<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout="row" layout-margin>
        <widget calendar-widget flex class="widget-calendar" md-theme="cyan" palette-background="cyan:500" >
            <div layout-padding>
                <div layout="row" layout-padding layout-align="space-between center">
                    <h3 class="md-subhead">
                        {{currentDay | amDateFormat:'MMMM YYYY'}}
                    </h3>
                    <div class="widget-buttons">
                        <md-button class="widget-button md-icon-button" ng-click="changeMonth('prev')">
                            <md-icon md-font-icon="icon-chevron-left"></md-icon>
                        </md-button>
                        <md-button class="widget-button md-icon-button" ng-click="changeMonth('today')">
                            <md-icon md-font-icon="icon-today"></md-icon>
                        </md-button>
                        <md-button class="widget-button md-icon-button" ng-click="changeMonth('next')">
                            <md-icon md-font-icon="icon-chevron-right"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="column" layout-padding>
                <div ui-calendar="calendarOptions" ng-model="calendarEvents" calendar="calendarWidget"></div>
            </div>
        </widget>
        <div layout="column" flex layout-margin>
            <widget md-theme="green" content-layout="column">
                <div flex layout="row" layout-align="start center" layout-padding>
                    <h2 class="md-display-3 font-weight-100">Call Sue</h2>
                </div>
                <md-divider></md-divider>
                <div flex layout="row" layout-align="space-between center" layout-padding>
                    <span>Monday 1st March</span>
                    <md-button class="md-icon-button">
                        <md-icon md-font-icon="icon-call"></md-icon>
                    </md-button>
                </div>
            </widget>
            <widget md-theme="default" content-layout="column">
                <div flex layout="row" layout-align="start center" layout-padding>
                    <h2 class="md-display-2 font-weight-100">Clean Desk</h2>
                </div>
            </widget>
        </div>
        <widget todo-widget class="dashboard-todo-widget" title="Todo List" subtitle="Your current todo list" md-theme="blue" title-position="top" content-align="center start" content-padding>
            <md-list flex class="padding-left-0">
                <md-list-item ng-repeat="todo in todos">
                    <md-checkbox ng-model="todo.done"></md-checkbox>
                    <p>{{todo.name}}</p>
                </md-list-item>
            </md-list>
        </widget>
    </div>

    <div layout="row" layout-margin>
        <widget flex="60" title="It's all about Material" subtitle="We challenged ourselves to create a visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design."  title-position="bottom" >
            <img src="http://4.bp.blogspot.com/-ci8zjNrp50I/U_yCxyehuzI/AAAAAAAADX4/uiAIDRcpUB4/s1600/ahagzjsozh.jpg" alt="">

        </widget>

        <widget chat-widget flex class="widget-chat" title="{{'DASHBOARDS.GENERAL.CHAT' | translate}}" md-theme="blue" content-layout="column" content-layout-align="start">
            <md-list flex class="overlay-5">
                <md-list-item ng-repeat="chat in conversation" class="md-2-line" ng-class="userClass($even)" ng-init="userColor = $even ? 'cyan' : 'light-green'">
                    <img class="md-avatar" ng-src="{{chat.image}}" alt="{{chat.name}}">
                    <div class="md-list-item-text">
                        <h3>{{chat.name}}</h3>
                        <p palette-background="{{userColor}}:200" ng-repeat="message in chat.messages">
                           {{message}}
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </widget>
    </div>

    <div layout="row" layout-margin>
       <widget weather-widget="Sitia" flex="40" background-image="assets/images/dashboards/weather.jpg">
            <div flex layout="column" layout-align="end center">
                <p class="md-caption">{{weather.date | amDateFormat:'dddd, MMMM Do YYYY'}}</p>
                <p class="md-display-4">{{weather.temp}}&deg;</p>
                <i class="wi" ng-class="weather.iconClass"></i>
                <p class="md-title">{{weather.text}}</p>
                <p class="md-title">{{weather.location}}</p>
            </div>
        </widget>

        <div layout="column" layout-margin>
            <widget palette-background="cyan:500" twitter-widget>

                <div layout="row" layout-align="space-between center" class="padding-normal">
                    <i class="fa fa-twitter font-size-4 opacity-50"></i>
                    <h3 flex class="md-subhead">Oxygenna's feed</h3>
                    <div class="widget-buttons">
                        <md-button class="md-icon-button" ng-click="prevTweet()"><md-icon md-font-icon="icon-keyboard-arrow-left"></md-icon></md-button>
                        <md-button class="md-icon-button" ng-click="nextTweet()"><md-icon md-font-icon="icon-keyboard-arrow-right"></md-icon></md-button>
                    </div>
                </div>

                <md-divider></md-divider>
                <div layout="column" class="padding-normal">
                    <md-tabs md-selected="selectedTab" class="dashboard-no-bar-tabs text-center" md-no-pagination md-no-bar md-dynamic-height>
                        <md-tab ng-repeat="tweet in tweets" label="tweet.id">
                            <div ng-bind="tweet.body" linkify="twitter" class="font-weight-300 font-size-2"></div>
                        </md-tab>
                    </md-tabs>
                </div>
            </widget>
             <widget title="{{'DASHBOARDS.GENERAL.CONTACTS' | translate}}" contacts-widget>
                <md-list>
                    <md-list-item ng-repeat="contact in contacts">
                        <img class="md-avatar" ng-src="{{contact.image}}" alt="{{contact.name}}">
                        <p>{{contact.name}}</p>
                        <md-divider ng-hide="$last"></md-divider>
                    </md-list-item>
                </md-list>
            </widget>
        </div>
    </div>
</div>