// Dashboard
.dashboard-counter-big-icon {
  .md-font {
    font-size: 48px;
  }
}

.dashboard-counter-text-column {
  text-align: right;
}

// - Chart Container
.dashboard-fullwidth-chart {
  .chart-container {
    position: relative;
    left: -5px;
    bottom: -5px;
    width: calc(100% + 10px);
  }
}

.dashboard-todo-widget {
  md-list {
    padding: 0px !important;
  }
}

.google-chart {
  height: 100%;
  width: 100%;
}