.widget {
  .widget-title {
    margin-top: 16px;
    margin-left: 16px;
    .md-subhead {
      color: rgb(117, 117, 117);
    }
    .md-body {
      color: rgb(189, 189, 189);
    }
  }
  .google-chart {
    padding: 0;
  }
  .widget-content {
    padding: 16px;
  }
}

.widget[background] {
  .widget-title {
    .md-subhead, md-icon {
      color: inherit;
    }
  }
}

.widget-counter-text {
  font-weight: 300;
  margin: 0px 10px;
  text-align: left;
}