<h2>Widgets without directives</h2>
<div layout="row" layout-margin>
    <div class="widget md-whiteframe-z1" ng-class="{'widget-overlay-title': overlayTitle}" flex ng-attr-layout="{{widgetLayout}}" ng-init="title = 'My Title'; subtitle = 'My Subtitle'; widgetLayout = 'column'; titleOrder = 1; contentOrder = 2;">
        <div class="widget-title" ng-if="title || subtitle" layout="row" layout-padding layout-align="space-between center" ng-attr-flex-order="{{titleOrder}}">
            <div flex layout="column">
                <h3 class="md-subhead" ng-if="title">{{title}}</h3>
                <p class="md-body-1" ng-if="subtitle">{{subtitle}}</p>
            </div>
            <md-button ng-if="menu" class="widget-button md-icon-button" ng-click="menuClick($event)">
                <md-icon md-font-icon="{{menu.icon}}"></md-icon>
            </md-button>
        </div>

        <div class="widget-content" flex ng-attr-layout="{{contentLayout}}" ng-attr-layout-align="{{contentLayoutAlign}}" ng-attr-layout-padding="{{contentPadding}}" ng-attr-flex-order="{{contentOrder}}">
            <img src="assets/images/backgrounds/bg-3.jpg" />
        </div>

        <div class="widget-loading ng-hide" ng-show="loading" layout layout-fill layout-align="center center">
            <div class="widget-loading-inner" ng-show="loading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>

    <div class="widget md-whiteframe-z1" ng-class="{'widget-overlay-title': overlayTitle}" flex ng-attr-layout="{{widgetLayout}}" ng-init="title = 'My Title'; subtitle = 'My Subtitle'; widgetLayout = 'column'; titleOrder2 = 2; contentOrder2 = 1;">
        <div class="widget-title" ng-if="title || subtitle" layout="row" layout-padding layout-align="space-between center" ng-attr-flex-order="{{titleOrder2}}">
            <div flex layout="column">
                <h3 class="md-subhead" ng-if="title">{{title}}</h3>
                <p class="md-body-1" ng-if="subtitle">{{subtitle}}</p>
            </div>
            <md-button ng-if="menu" class="widget-button md-icon-button" ng-click="menuClick($event)">
                <md-icon md-font-icon="{{menu.icon}}"></md-icon>
            </md-button>
        </div>

        <div class="widget-content" flex ng-attr-layout="{{contentLayout}}" ng-attr-layout-align="{{contentLayoutAlign}}" ng-attr-layout-padding="{{contentPadding}}" ng-attr-flex-order="{{contentOrder2}}">
            <img src="assets/images/backgrounds/bg-3.jpg" />
        </div>

        <div class="widget-loading ng-hide" ng-show="loading" layout layout-fill layout-align="center center">
            <div class="widget-loading-inner" ng-show="loading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
</div>