<div class="dashboard-social-header padding-20 padding-top-200 overlay-gradient-30" layout="row" layout-align="start center">
    <div class="margin-right-20">
        <img src="assets/images/avatars/avatar-5.png" alt="girl-avatar" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0 md-display-1 text-light">Christos Varoufakis</h3>
        <p class="font-weight-300 margin-top-0">Web Designer, Eroticist and Spy</p>
        <p class="dashboard-social-header-icon"><md-icon md-font-icon="icon-location-on"></md-icon>Athens, Greece</p>
     </div>
</div>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
        <md-tab-label layout="column">
            <span>Tweets</span>
            <span>11.4K</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column">
                <widget layout-margin flex="50" flex-sm="100" palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 11h" title-position="top" content-padding>
                    <div linkify="twitter" class="font-weight-300 md-headline font-style-italic line-height-big">
                        Don't miss it! A Material Design Avatar set with 1440 avatars! http://sellfy.com/p/EUcC/ #avatars #materialdesign
                    </div>
                    <img src="assets/images/dashboards/tweet-pic.png" alt="">
                </widget>
                <div flex layout="column">
                    <widget layout-margin flex palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 12h" title-position="top" content-padding>
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big">
                            Triangular 1.1.2 our new #AngularJS admin template is out now!  FAB Speed Dial & FAB Toolbar added. Enjoy!
                        </div>
                    </widget>
                    <widget layout-margin flex palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 14h" title-position="top" content-padding>
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big">
                            Don't miss our latest Angular Material Design Admin Template: http://goo.gl/0Yxm1U  #angularJS #material #webdesign
                        </div>
                    </widget>
                    <widget layout-margin flex palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 16h" title-position="top" content-padding>
                        <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big">
                            New Freebie! Material Design Image fonts! In high res png's http://goo.gl/j1fWZz  #MaterialDesign #webdesign
                        </div>
                    </widget>
                </div>
            </div>
            <div layout="row" layout-sm="column">
                <widget layout-margin flex palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 16h" title-position="top" content-padding>
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big">
                        Don't miss our latest Angular Material Design Admin Template: http://goo.gl/0Yxm1U  #angularJS #material #webdesign
                    </div>
                </widget>
                <widget layout-margin flex palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 16h" title-position="top" content-padding>
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big">
                        New Freebie! Material Design Image fonts! In high res png's http://goo.gl/j1fWZz  #MaterialDesign #webdesign
                    </div>
                </widget>
                <widget layout-margin flex palette-background="cyan:500" avatar="assets/images/avatars/avatar-5.png" title="Christos Varoufakis" subtitle="@christos - 16h" title-position="top" content-padding>
                    <div linkify="twitter" class="font-weight-300 md-title font-style-italic line-height-big">
                        Triangular 1.1.2 our new #AngularJS admin template is out now!  FAB Speed Dial & FAB Toolbar added. Enjoy!
                    </div>
                </widget>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Following</span>
            <span>3,220</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column" layout-margin ng-repeat="x in [1,2,3]">
                <widget class="widget-follower" flex content-layout="column" content-layout-align="center top">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/bg-4-small.jpg" alt="some bg">
                        <img src="assets/images/avatars/avatar-1.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title">Morris Onions</h4>
                        <p class="md-caption">@morris</p>
                        <p>Senior Software Test Engineer at Progressive, Indie Game Developer, Cleveland Game Devs member, a cyberpunk before it was cool & a geek Dad.</p>
                    </div>
                </widget>
                <widget class="widget-follower" flex content-layout="column" content-layout-align="center top">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/bg-4-small.jpg" alt="some bg">
                        <img src="assets/images/avatars/avatar-1.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title">Morris Onions</h4>
                        <p class="md-caption">@morris</p>
                        <p>Senior Software Test Engineer at Progressive, Indie Game Developer, Cleveland Game Devs member, a cyberpunk before it was cool & a geek Dad.</p>
                    </div>
                </widget>
                <widget class="widget-follower" flex content-layout="column" content-layout-align="center top">
                    <div class="widget-follower-header">
                        <img src="assets/images/backgrounds/bg-4-small.jpg" alt="some bg">
                        <img src="assets/images/avatars/avatar-1.png" class="widget-follower-header-avatar"/>
                    </div>
                    <div class="widget-follower-text padding-10">
                        <h4 class="md-title">Morris Onions</h4>
                        <p class="md-caption">@morris</p>
                        <p>Senior Software Test Engineer at Progressive, Indie Game Developer, Cleveland Game Devs member, a cyberpunk before it was cool & a geek Dad.</p>
                    </div>
                </widget>
            </div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label layout="column">
            <span>Favorites</span>
            <span>578</span>
        </md-tab-label>
        <md-tab-body>
            <div layout="row" layout-sm="column" layout-margin>
                <widget flex="70" flex-sm="100" title="Favorites" content-padding content-layout="column" content-layout-align="center top">
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]">
                            <img src="assets/images/avatars/avatar-3.png" class="md-avatar"/>
                            <div class="md-list-item-text">
                                <h3>Twitch</h3>
                                <h4>@twitch - Jul 2</h4>
                                <p>We had an absolute blast bringing @E3 to you this year. Check out our video recap.</p>
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                    </md-list>
                </widget>
                <widget flex="30" flex-sm="100" title="Trends" content-padding content-layout="column" content-layout-align="center top">
                    <p linkify="twitter">#E32015</p>
                    <p linkify="twitter">#WeForgiveYouAriana</p>
                    <p linkify="twitter">#OTRASanDiego</p>
                    <p linkify="twitter">#mnimonio3</p>
                    <p linkify="twitter">#BlackMagicOutNow</p>
                    <p linkify="twitter">#WalidTalb</p>
                </div>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>

