// Gravatar
.gravatar {
  margin-bottom: 26px;
}

// Remember me
md-checkbox {
    margin-left: 0;
}

// Forgot password
.forgot {
    padding: 2px 2px 26px;
}

.margin-text {
    margin: 15px 0;
    line-height: 23px;
}

.md-whiteframe-z1 {
    background-color: #fff;
}