<div layout="row" ng-controller="AdminController" class="full-height">
    <!-- left sidebar -->
    <md-sidenav layout class="admin-sidebar-left md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ui-view="sidebarLeft"></md-sidenav>

    <!-- main content -->
    <div layout="column" layout-fill id="admin-panel" class="full-height">
        <!-- loading animation -->
        <tri-loader></tri-loader>

        <!-- top toolbar -->
        <md-toolbar ng-attr-md-scroll-shrink="{{toolbarShrink}}" class="admin-toolbar" md-theme="{{triSkin.elements.toolbar}}" ui-view="toolbar"></md-toolbar>

        <div ui-view="content" class="full-height"></div>
    </div>
</div>