.elements-example {
  md-tab-content md-content {
    background: rgba(100, 100, 100, 0.1);
  }
}

// Elements Page

.example-whiteframe-row {
  md-whiteframe {
    margin-right: 16px;
  }
}

// - Buttons
.elements-page-buttons {
  .md-button:not(.md-fab) {
    min-width: 10em;
  }
}

.elements-button-examples md-card-content {
  min-height: 100px;
}

.elements-page-intro {
  font-size: 20px;
  line-height: 32px;
}

.elements-try-out {
  text-align: right;
}

.elements-raised-usage {
  width: 400px;
  .elements-raised-content {
    padding: 16px;
  }
  .elements-raised-buttons {
    padding: 16px;
    .md-button {
      margin-left: 5px;
    }
  }
}

.elements-fab-usage {
  position: relative;

  .md-fab {
    position: absolute;
    bottom: 36px;
    right: 26px;
  }
}

.elements-flat-usage {
  width: 400px;
  padding: 16px;
}

.elements-flat-buttons {
  .md-button {
    width: 100px;
    padding-left: 5px;
  }
}

// - Cards
.elements-cards-example1 {
  background: rgb(242, 242, 242);
  .example-area {
    padding: 24px;
    width: 450px;
  }
  md-card-content {
    padding: 0;
    background: white;
  }
  .content-padded {
    padding: 16px;
  }
  .button-toolbar {
    .md-button {
      margin-left: 16px;
    }
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// - Icons
.elements-icons {
  md-content {
    min-width: 400px;

    height: 500px;
    .md-font {
      font-size: 24px;
    }
  }
}

$size-list: 16px 24px 32px 48px;
@each $size in $size-list {
    $i: index($size-list, $size);
    .elements-icon-size-#{$i} {
        width: $size;
        height: $size;
        span {
          font-size: $size;
        }
    }
}

.elements-icons-preview {
  .elements-icon-small {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }
}

// - Radios Pages
.elements-radio-avatar {
  img {
    width: 150px;
  }
}

// - Tabs Pages
.elements-tabs-example {
  md-grid-tile {
    background-size: 100%;
  }
}

// - Grids Pages
.elements-grids-example {
  md-grid-tile {
    background-size: 100%;
  }
}

// - Selects Pages
.elements-select-example1 {
  background: rgb(242, 242, 242);
  .example-area {
    padding: 24px;
    width: 450px;
    md-card-content {
      padding: 16px;
      background: white;
    }
    md-select {
      // margin-top: 0px;
      // margin-bottom: 0px;
    }
  }
}

// - Toasts Pages
.elements-toast-example {
  height: 500px;
}

// - Sidebar Pages
.elements-sidebar-example {
  height: 500px;

  md-sidenav {
    md-content {
      background: none;
    }
  }

  .md-button {
    margin: 0px 20px;
  }
}

// - Toolbars Pages
.elements-toolbars-example {
  md-toolbar {
    margin: 12px 0px;
  }
}

// - Tooltips Pages
.elements-tooltips-example {
  .md-button {
    margin: 50px 12px;
  }
}

// - Whiteframes Pages
.elements-whiteframes-example {
  md-whiteframe {
    margin: 20px;
    padding: 20px;
  }
}

// - Chips Pages
.elements-chips-example {
  md-card-content {
    padding: 0px;
  }
}