/**
* Buttons Pages
**/
.elements-page-buttons {
  .md-button:not(.md-fab) {
    min-width: 10em;
    line-height: 25px;
  }
}

.elements-button-examples md-card-content {
  min-height: 100px;
}

.elements-page-intro {
  font-size: 20px;
  line-height: 32px;
}

.elements-try-out {
  text-align: right;
}

.elements-raised-usage {
  width: 400px;
  .elements-raised-content {
    padding: 16px;
  }
  .elements-raised-buttons {
    padding: 16px;
    .md-button {
      margin-left: 5px;
    }
  }
}

.elements-fab-usage {
  position: relative;

  .md-fab {
    position: absolute;
    bottom: 36px;
    right: 26px;
  }
}

.elements-flat-usage {
  width: 400px;
  padding: 16px;
}

.elements-flat-buttons {
  .md-button {
    width: 100px;
    padding-left: 5px;
  }
}

/**
* Cards Pages
**/

.elements-cards-example1 {
  background: rgb(242, 242, 242);
  .example-area {
    padding: 24px;
    width: 450px;
  }
  md-card-content {
    padding: 0;
    background: white;
  }
  .content-padded {
    padding: 16px;
  }
  .button-toolbar {
    .md-button {
      margin-left: 16px;
    }
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

