$font-base-size: 16px;
$font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;

button,
select,
html,
textarea,
input {
  font-family: $font-family;
}

html {
  font-size: $font-base-size;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.md-display-4 {
  font-size: 7rem;              /* 112 / 16 */
  line-height: 8rem;            /* 128 / 16 */
  font-weight: 300;
  letter-spacing: -0.010em;
  white-space: nowrap;
}

.md-display-3 {
  font-size: 3.5rem;            /* 56 / 16 */
  line-height: 5.25rem;         /* 84 / 16 */
  letter-spacing: -0.005em;
  white-space: nowrap;
}

.md-display-2 {
  font-size: 2.8125rem;         /* 45 / 16 */
  line-height: 3rem;            /* 48 / 16 */
}

.md-display-1 {
  font-size: 2.125rem;          /* 34 / 16 */
  line-height: 2.5rem;          /* 40 / 16 */
}

.md-headline {
  font-size: 1.5rem;            /* 24 / 16 */
  line-height: 2rem;            /* 32 / 16 */
}

.md-toolbar-tools, .md-title {
  font-size: 1.25rem;           /* 20 / 16 */
  font-weight: 500;
  letter-spacing: 0.005em;
  white-space: nowrap;
}

.md-subhead {
  font-size: 1rem;              /* 16 / 16 */
  letter-spacing: 0.010em;
  line-height: 1.5rem;          /* 24 / 16 */
}

.md-body-2 {
  font-size: 0.875rem !important;          /* 14 / 16 */
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 1.5rem;          /* 24 / 16 */
}

body, .md-body-1 {
  font-size: 0.875rem !important ;          /* 14 / 16 */
  letter-spacing: 0.010em;
  line-height: 1.25rem;         /* 20 / 16 */
}

.md-caption {
  font-size: 0.75rem;           /* 12 / 16 */
  letter-spacing: 0.020em;
  white-space: nowrap;
}

.md-secondary {

}

.md-button {
  font-size: 0.875rem;          /* 14 / 16 */
  letter-spacing: 0.010em;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

code:not(.hljs) {
  color: #4285f4;
  margin-left: 1px;
  margin-right: 1px;
  -webkit-font-smoothing: auto;
  font-weight: bold;
}

code.hljs.html {
  padding: 16px;
}


// Text align classes
.text-center {
  text-align: center;
}

.md-icon-button {
  .md-font {
    font-size: 24px;
  }
}