
a {
  color: #3f51b5;
  text-decoration: none;
}

code:not(.hljs) {
  color: #4285f4;
  margin-left: 1px;
  margin-right: 1px;
  -webkit-font-smoothing: auto;
  font-weight: bold;
}

code.hljs.html {
  padding: 16px;
}


// Text align classes
.text-center {
  text-align: center;
}

.md-icon-button {
  .md-font {
    font-size: 24px;
  }
}