// Utilities

// - Margin Classes
$i : 0;
@while $i <= 200 {
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }
  $i : $i + 10;
}

// - Padding Classes
$i : 0;
@while $i <= 200 {
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
  .padding-top-#{$i} {
    padding-top: #{$i}px !important;
  }
  .padding-left-#{$i} {
    padding-left: #{$i}px !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .padding-right-#{$i} {
    padding-right: #{$i}px !important;
  }
  $i : $i + 10;
}

// - Opacity Classes
$i : 0;
@while $i <= 1 {
  .opacity-#{$i * 100} {
    opacity: $i !important;
  }
  $i : $i + 0.1;
}

// - Positioning Classes
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}

// - Translate Classes
$i : 0;
@while $i <= 100 {
  .move-from-top-#{$i} {
    transform: translateY(#{$i}px);
  }
  .move-from-left-#{$i} {
    transform: translateX(#{$i}px);
  }
  .move-from-bottom-#{$i} {
    transform: translateY(-#{$i}px);
  }
  .move-from-right-#{$i} {
    transform: translateX(-#{$i}px);
  }
  $i : $i + 10;
}