// body
.oxy-docs-body {
  margin-top: 54px;
}

// sidebar
.oxy-docs-sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.oxy-docs-sidebar-subheading {
  text-transform: uppercase;
}

// content
.oxy-docs-content {
  padding: 16px;
}

// hide h5 tags (only used for subheadings in nav)
.oxy-docs-content h5 {
  display: none;
}
