.oxy-docs-sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.oxy-docs-sidebar-nav__section-heading {
  font-size: 1rem;
  text-transform: uppercase;
}

.oxy-docs-sidebar-nav__heading {
  font-size: 1.1rem;
}

// nested navs
.oxy-docs-sidebar-nav .nav .nav {
  margin-left: 16px;
  display: none;
}
