<div class="md-toolbar-tools">
    <md-button class="md-icon-button tri-button" hide-gt-md aria-label="Toggle Menu" ng-click="openSideNav('left')">
        <md-icon md-font-icon="icon-menu"></md-icon>
    </md-button>
    <h2 flex breadcrumbs="menu"></h2>

    <md-button class="md-icon-button tri-button" ng-click="toggleNotificationsTab(0)" aria-label="Open Notifications">
        <md-icon md-font-icon="icon-email"></md-icon>
        <badge class="md-accent">4</badge>
    </md-button>

    <md-button class="md-icon-button tri-button" ng-click="toggleNotificationsTab(1)" aria-label="Open Notifications">
        <md-icon md-font-icon="fa fa-bell-o"></md-icon>
        <badge class="md-accent">2</badge>
    </md-button>

    <md-button ng-click="toggleNotificationsTab(2)">
        <img class="toolbar-user-avatar" src="assets/images/avatars/avatar-5.png">
        Christos
    </md-button>
    <md-button class="md-icon-button" ng-click="switchLanguage('en')" aria-label="Change Language EN">
        en
    </md-button>
    <md-button class="md-icon-button" ng-click="switchLanguage('el')" aria-label="Change Language EL">
        el
    </md-button>
</div>

