.toolbar-default {
  md-icon {
    color: inherit;
    .md-font {
      color: inherit;
    }
  }
}

.toolbar-default-icon-badge {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background: red;
  left: 0;
  top: 0;
  line-height: 2.5rem;
  border-radius: 50%;
  transform: translate(-1.5rem, -1rem);
}

// Toolbar Search
.toolbar-search {
  background: transparent;
  border: 0;
  color: inherit;
  font-size: 0.8em;
  transition: max-width .5s, opacity 0.3s .3s;
  display: block !important;
  max-width: 200px;
  opacity: 1;
  text-indent: 1em;
  &::placeholder {
    color: inherit;
  }
  &.ng-show {
    @include fadeIn();
  }
  &.ng-hide {
    transition: max-width .3s .3s, opacity 0.5s;
    max-width: 0px;
    opacity: 0;
  }
}
