<div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-md ng-click="openSideNav('left')">
        <md-icon md-font-icon="icon-menu"></md-icon>
    </md-button>
    <h2 flex breadcrumbs="menu"></h2>

    <md-dropmenu>
        <md-drop-label>
            <md-button class="md-icon-button">
                <md-icon md-font-icon="icon-language"></md-icon>
            </md-button>
        </md-drop-label>
        <md-drop-option ng-repeat="language in languages" ng-click="switchLanguage(language.key)">{{language.name | translate}}</md-drop-option>
    </md-dropmenu>

    <md-button class="md-icon-button toolbar-button" ng-click="toggleNotificationsTab(0)">
        <md-icon md-font-icon="icon-email"></md-icon>
        <span class="toolbar-button-badge" theme-background="accent">5</span>
    </md-button>

    <md-button class="md-icon-button toolbar-button" ng-click="toggleNotificationsTab(1)">
        <md-icon md-font-icon="fa fa-bell-o"></md-icon>
        <span class="toolbar-button-badge" theme-background="accent">2</span>
    </md-button>

    <md-dropmenu>
        <md-drop-label>
            <md-button>
                <img class="toolbar-user-avatar" src="assets/images/avatars/avatar-5.png">
                Christos
            </md-button>
        </md-drop-label>
        <md-drop-option ng-click="toggleNotificationsTab(2)">{{'ADMIN.TOOLBAR.SETTINGS' | translate}}</md-drop-option>
        <md-drop-option ui-sref="admin-panel.default.profile">{{'ADMIN.TOOLBAR.PROFILE' | translate}}</md-drop-option>
        <md-divider></md-divider>
        <md-drop-option ui-sref="authentication.login">{{'ADMIN.TOOLBAR.LOGOUT' | translate}}</md-drop-option>
    </md-dropmenu>
</div>

