<md-toolbar class="toolbar-default" md-theme="{{triTheme.getElementTheme('toolbarTheme')}}">
    <div class="md-toolbar-tools">
        {{'TEST' | translate}}
        {{'TEST2' | translate}}
        <md-button class="md-icon-button" hide-gt-md aria-label="Toggle Menu" ng-click="openMenu()">
            <md-icon md-font-icon="icon-menu"></md-icon>
        </md-button>
        <h2 flex breadcrumbs="menu"></h2>

        <md-button class="md-icon-button" ng-click="switchLanguage('en')" aria-label="Change Language EN">
            en
        </md-button>
        <md-button class="md-icon-button" ng-click="switchLanguage('el')" aria-label="Change Language EL">
            el
        </md-button>
    </div>
</md-toolbar>
