.toolbar-default {
  md-icon {
    color: inherit;
    .md-font {
      font-size: 2.400rem;
      display: block;
      color: inherit;
    }
  }
  .breadcrumb {
    md-icon {
      height: 28px;
    }
  }
}
