// Burger menu
.menu-icon .icon-menu{
  font-size: 24px;
}

// Breadcrumbs
.breadcrumb {
  md-icon {
    font-size: 24px;
    width: 36px;
    text-align: center;
    height: 18px;
    vertical-align: top;
  }
}