.profile-header {
  background-image: url('/assets/images/backgrounds/bg-2.jpg');
  color: rgba(255,255,255,1);
  align-items:flex-start;
  justify-content:flex-start;
  display: flex;
  flex:1;
  position: relative;
  padding-top: 40px;
  padding-left: 20px;
  height: 180px
}

.avatar-image {
	border-radius: 50%;	
	box-sizing:content-box;
	&.small {
		width: 70px;
		height: 70px;	
	}
	&.big {
		width:90px;
		height: 90px;
	}
}

.avatar-details {
	padding: 0 10px;
	flex:1;
}

.profile {
	md-tabs[md-border-bottom] md-tabs-wrapper {
		border: none;
	}
	md-tabs {
		margin-top: -48px;
	}

	.side-column {	
		box-sizing: border-box;	
		text-align: center;
		div{
			margin: 0 auto;
		}
	}

	md-divider {
		width: 66%;
		margin: 0 auto;
	}
}