<div class="padded-content-page">
    <h2 class="md-heading">Layout Composer</h2>
    <p class="md-subhead">Use this page to try out the many different page layouts at your disposal when using triangular!</p>
    <div layout="row" layout-align="center center">
        <md-card flex>
            <md-card-content>
                <div layout="row" layout-align="space-around center">
                    <label>Side Menu Size</label>
                    <md-select ng-model="vm.sideMenuSize" ng-change="vm.changeOption('sideMenuSize')" placeholder="Select a size">
                        <md-option ng-value="value" ng-repeat="(value, label) in vm.options.sideMenuSizes" translate>{{label}}</md-option>
                    </md-select>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>