<div flex layout="column">
    <div flex layout="row" >
        <div palette-background="green:500">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos modi accusamus nostrum beatae! Nobis obcaecati aperiam nam, in enim amet harum quis fugit omnis sit. Molestias sit quis, enim beatae.</p>
        </div>
        <div palette-background="red:500">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos modi accusamus nostrum beatae! Nobis obcaecati aperiam nam, in enim amet harum quis fugit omnis sit. Molestias sit quis, enim beatae.</p>
        </div>
    </div>
    <div flex layout="row">
        <div palette-background="blue:500">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos modi accusamus nostrum beatae! Nobis obcaecati aperiam nam, in enim amet harum quis fugit omnis sit. Molestias sit quis, enim beatae.</p>
        </div>
        <div palette-background="cyan:500">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos modi accusamus nostrum beatae! Nobis obcaecati aperiam nam, in enim amet harum quis fugit omnis sit. Molestias sit quis, enim beatae.</p>
        </div>
    </div>
</div>
