<div layout="row" layout-fill ng-controller="AdminController">
    <!-- admin sidebar -->
    <md-sidenav layout="column" class="tri-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
        <!-- home title link -->
        <md-toolbar>
            <h1 class="md-toolbar-tools" ng-include="'app/shared/app-logo.html'"></h1>
        </md-toolbar>

        <side-menu></side-menu>
    </md-sidenav>

    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools" ng-click="openMenu()">
                <button class="menu-icon" hide-gt-md aria-label="Toggle Menu">
                    <md-icon md-font-icon="icon-menu"></md-icon>
                </button>
                <div hide-gt-md ng-include="'app/shared/app-logo.html'"></div>
            </div>
        </md-toolbar>

        <md-content ui-view md-scroll-y flex></md-content>
    </div>
</div>