<div layout="row" layout-fill ng-controller="AdminController">
    <!-- admin sidebar -->
    <tri-sidebar></tri-sidebar>

    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools" ng-click="openMenu()">
                <button class="menu-icon" hide-gt-sm aria-label="Toggle Menu">
                    <md-icon icon="assets/icons/ic_menu_24px.svg"></md-icon>
                </button>
                <div hide-gt-sm ng-include="'app/shared/app-logo.html'"></div>
            </div>
        </md-toolbar>

        <md-content ui-view md-scroll-y flex class="md-padding"></md-content>
    </div>
</div>