<div layout="row" ng-controller="AdminController" class="container-inner">
    <md-sidenav md-theme="{{sidebarTheme}}" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >

        <md-toolbar>
            <h1 class="md-toolbar-tools">
                <a class="app-logo" ng-href="/" layout="row" >
                    {{appName}}
                </a>
            </h1>
        </md-toolbar>

        <md-content flex>
            <side-menu></side-menu>
        </md-content>

    </md-sidenav>

    <div id="ui-admin-content" layout="column" flex>
        <tri-loader></tri-loader>
        <div flex ui-view>
    </div>
</div>