<div class="padded-content-page">
    <p>Triangular allows you to change the look of various parts of the template themes.</p>

    <p>We have created several cool looking skins for you to use.  But of course you can always <strong>roll your own!</strong></p>

    <p>Select a theme below and click the try it button to test drive one of the skins!</p>

    <div layout="row" layout-align="space-around center">
        <md-select placeholder="{{'UI.SKINS.SKIN_CHOOSE' | translate}}" ng-model="selectedSkin" ng-change="updatePreview()">
            <md-option ng-repeat="skin in skins" ng-value="skin">{{skin.name}}</md-option>
        </md-select>
        <md-button class="md-primary md-raised" ng-click="trySkin()">{{'UI.SKINS.SKIN_TRY' | translate}}</md-button>
    </div>

    <div class="ui-skin-preview" layout="column">
        <div layout="row">
            <div layout="column" layout-align="center center" flex="30" ng-style="{ 'background-color' : elementColors.logo }">
                {{'UI.SKINS.ELEMENTS.LOGO' | translate}}
            </div>
            <div layout="column" layout-align="center center" flex="70" ng-style="{ 'background-color' : elementColors.toolbar }">
                {{'UI.SKINS.ELEMENTS.TOOLBAR' | translate}}
            </div>
        </div>
        <div layout="row">
            <div layout="column" layout-align="center center" flex="30" ng-style="{ 'background-color' : elementColors.sidebar }">
                {{'UI.SKINS.ELEMENTS.SIDEBAR' | translate}}
            </div>
            <div layout="column" layout-align="center center" flex="70" ng-style="{ 'background-color' : elementColors.content }">
                {{'UI.SKINS.ELEMENTS.CONTENT' | translate}}
            </div>
        </div>
    </div>

</div>