<md-content class="padded-docs-page md-padding" md-scroll-y flex>
    <p class="md-subhead">Triangular allows you to change the look of the admin colours using themes.  The template comes with its own pre-made themes available, or if you like you can create your own!</p>

    <p>We have made triangular as flexible as possible by allowing you to choose themes for different parts of the admin template.  </p>

    <h2 class="md-headline">Available Themes</h2>
    <md-card class="ui-theme-card" ng-repeat="theme in themes">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{theme.name}}</h2>
                <span flex></span>
                <md-button class="md-fab md-accent" ng-click="switchTheme(theme)">
                    <md-icon md-font-icon="icon-remove-red-eye"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-grid-list flex md-cols="4" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="0px">
                <md-grid-tile md-rowspan="1" md-colspan="1" ng-repeat="color in theme.colors" ng-style="setBackgroundColor(color)">
                    <md-grid-tile-footer>
                        <h3>
                            <strong>{{color.intention}}</strong>
                            <span hide-sm>: {{color.name}} - {{color.hues.default}}</span>
                        </h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>

    <h2 class="md-headline">Theme Combinations</h2>
    <p>You can combine themes together to set the theme for various parts of the template</p>

    <div layout="row">
        <md-card flex layout="column" layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Content Theme</h2>
                </div>
            </md-toolbar>
            <md-card-content layout="column" layout-align="center center">
                <md-select placeholder="Choose a theme" ng-model="currentTheme" ng-change="changeTheme('currentTheme', currentTheme)">
                    <md-option ng-repeat="theme in themes" ng-value="theme.name">{{theme.name}}</md-option>
                </md-select>
                <p>Theme of the main content area.</p>
            </md-card-content>
        </md-card>
        <md-card flex layout="column" layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Sidebar Theme</h2>
                </div>
            </md-toolbar>
            <md-card-content layout="column" layout-align="center center">
                <md-select placeholder="Choose a theme" ng-model="sidebarTheme" ng-change="changeTheme('sidebarTheme', sidebarTheme)">
                    <md-option ng-repeat="theme in themes" ng-value="theme.name">{{theme.name}}</md-option>
                </md-select>
                <p>Theme of the sidebar menu.</p>
            </md-card-content>
        </md-card>
        <md-card flex layout="column" layout-align="center center">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Toolbar Theme</h2>
                </div>
            </md-toolbar>
            <md-card-content layout="column" layout-align="center center">
                <md-select placeholder="Choose a theme" ng-model="toolbarTheme" ng-change="changeTheme('toolbarTheme', toolbarTheme)">
                    <md-option ng-repeat="theme in themes" ng-value="theme.name">{{theme.name}}</md-option>
                </md-select>
                <p>Theme of the top toolbar</p>
            </md-card-content>
        </md-card>
    </div>

</div>
