<md-content class="padded-docs-page md-padding" md-scroll-y flex>
    <p class="md-subhead">Triangular allows you to change the look of the admin colours using themes.  The template comes with its own pre-made themes available, or if you like you can create your own!</p>

    <p>We have made triangular as flexible as possible by allowing you to choose themes for different parts of the admin template.  </p>
    <div layout="row" layout-sm="column" layout-align="space-between start">
        <md-whiteframe class="md-whiteframe-z1" layout="column" layout-align="space-between center">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <span>Default Theme</span>
                </h2>
            </md-toolbar>
            <md-select ng-model="selectedMainTheme" ng-change="updateThemes()">
                <md-option value="{{theme.theme}}" ng-repeat="theme in availableThemes">{{theme.name}}</md-option>
            </md-select>
            <p>Default theme to use for the whole template.</p>
        </md-whiteframe>
    </div>

    <code>{{themes | json}}</code>
    <div hljs>{{themes | json}}</div>
</md-content>
<div layout="row" class="skin-screen" flex>
    <div flex="40">
        <h2>Skins</h2>

        <p>With Triangular you can set the skin of your material design.</p>

        <div layout="column">
            <div class="skin-options" layout="row" layout-align="space-around start">
                <strong>Main Theme</strong>
                <md-select ng-model="selectedMainTheme" ng-change="updateThemes()">
                    <md-option value="{{theme.theme}}" ng-repeat="theme in availableThemes">{{theme.name}}</md-option>
                </md-select>
            </div>
            <div class="skin-options" layout="row" layout-align="space-around start">
                <strong>Sidebar Theme</strong>
                <md-select ng-model="selectedSidebarTheme" ng-change="updateThemes()">
                    <md-option value="{{theme.theme}}" ng-repeat="theme in availableThemes">{{theme.name}}</md-option>
                </md-select>
            </div>
        </div>

    </div>
    <div flex="60">
        <h2>Preview</h2>
        <md-tabs class="md-primary" md-selected="data.selectedIndex" flex>
            <md-tab id="buttons" aria-controls="buttons-content">
                Buttons
            </md-tab>
            <md-tab id="forms" aria-controls="forms-content">
                Forms
            </md-tab>
        </md-tabs>
        <ng-switch on="data.selectedIndex" class="tabpanel-container">
            <div role="tabpanel"
                id="buttons-content"
                aria-labelledby="buttons"
                ng-switch-when="0">
                <p>Check out some of these buttons</p>
                <h3>Standard</h3>
                <section layout="row" layout-sm="column" layout-align="space-around center">
                    <md-button class="md-primary">Primary</md-button>
                    <md-button class="md-accent">Accent</md-button>
                    <md-button class="md-warn">Warn</md-button>
                </section>
                <h3>Raised</h3>
                <section layout="row" layout-sm="column" layout-align="space-around center">
                    <md-button class="md-raised md-primary">Primary</md-button>
                    <md-button class="md-raised md-accent">Accent</md-button>
                    <md-button class="md-raised md-warn">Warn</md-button>
                </section>
                <h3>Fab</h3>
                <section layout="row" layout-sm="column" layout-align="space-around center">
                    <md-button class="md-fab md-primary">
                        <md-icon md-font-icon="icon-star"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-accent">
                        <md-icon md-font-icon="icon-tag-faces"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-warn">
                        <md-icon md-font-icon="icon-photo-camera"></md-icon>
                    </md-button>
                </section>
            </div>
            <div role="tabpanel"
                id="forms-content"
                aria-labelledby="forms"
                ng-switch-when="1">
                <form name="userForm">
                    <div layout="column">
                        <md-input-container flex>
                            <label>Company (Disabled)</label>
                            <input ng-model="user.company">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Submission Date</label>
                            <input type="date" ng-model="user.submissionDate">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Biography</label>
                            <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
                        </md-input-container>
                    </div>
                </form>
            </div>
        </ng-switch>
    </div>
</div>
