/**
* Colors Page
**/

.ui-color-grid md-grid-tile {
  cursor: pointer;
}

.ui-color-dialog-content {
  padding: 0px;
  md-list {
    padding: 0px;
    width: 500px;
  }
}

/**
* Typography Page
**/

.ui-typography-try-font {
  width: 80%;
  text-align: center;
}

.ui-typography-heading-example {
  margin: 0;
}

.ui-screen {
  .tabpanel-container div {
    padding: 20px;
  }
}

/**
* Icons Pages
**/

.ui-icons-box-icon {
  cursor: pointer;
}


/**
* Themes Page
**/
.ui-theme-card {
  margin: 20px 0px;

  md-card-content {
    padding: 0px;
  }

  .md-toolbar-tools {
    position: relative;

    .md-fab {
      top: 25px;
      right: 25px;
    }
  }
}

.ui-theme-card-colorname {
  text-align: right;
}

// Toolbar page
.ui-toolbar-code pre {
  background-color: black;
  color: white;
  padding: 16px;
  font-weight: normal;
}