/**
* Typography Page
**/

.ui-typography-try-font {
  width: 80%;
  text-align: center;
}

.ui-typography-heading-example {
  margin: 0;
}

.ui-screen {
  .tabpanel-container div {
    padding: 20px;
  }
}