/**
* Colors Page
**/

.ui-color-grid md-grid-tile {
  cursor: pointer;
}

.ui-color-dialog-content {
  padding: 0px;
  & md-item-content {
    width: 500px;
  }
}

/**
* Typography Page
**/

.ui-typography-try-font {
  width: 80%;
  text-align: center;
}

.ui-typography-heading-example {
  margin: 0;
}

.ui-screen {
  .tabpanel-container div {
    padding: 20px;
  }
}


/**
* Themes Page
**/
.ui-theme-card {
  md-card-content {
    padding: 0px;
  }

  .md-toolbar-tools {
    position: relative;

    .md-fab {
      top: 25px;
      right: 25px;
    }
  }
}

.ui-theme-card-colorname {
  text-align: right;
}