// Widget
.widget {
  position: relative;
  background-size: cover;
  background-color: #fff;
  transition: all .2s;
  min-height: 100px;
  .widget-title {
    .md-subhead, .md-body-1, .md-body-2 {
      margin: 0;
    }
    .md-body-1, .md-body-2 {
      opacity: 0.5;
    }
  }
  .widget-content {
    overflow: hidden;
    >img {
      display: block;
    }
    md-icon[md-font-icon] {
      color: inherit;
    }
  }
  &[layout="row"] {
    .widget-title {
      flex: 0 0 50%;

    }
  }
  &.widget-overlay-title {
    .widget-title {
      position: absolute;
      .md-body-1, .md-body-2 {
        opacity: 1;
      }
    }
    &[layout="column"] {
      .widget-title {
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
        &[flex-order="2"] {
          top: auto;
          bottom: 0;
          background: linear-gradient(to top, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
        }
      }
    }
    &[layout="row"] {
      .widget-title {
        width: 50%;
        top: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
        &[flex-order="2"] {
          left: auto;
          right: 0;
          background: linear-gradient(to left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
        }
      }
    }
  }
  .widget-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    .widget-loading-inner {
      transform: scale(0.5);
    }
    &.ng-hide {
      @include fadeOut();
    }
  }
}

.widget[background] {
  .widget-title {
    .md-subhead, md-icon {
      color: inherit;
    }
  }
}