<div class="widget md-whiteframe-z1" ng-class="{'widget-alt': titleAsOverlay === 'true'}" flex ng-attr-layout="{{ titlePosition === 'bottom' || titlePosition === 'top' ? 'column' : 'row' }}">
    <div class="widget-title" ng-if="title || subtitle" layout="row" layout-align="space-between start" ng-attr-flex-order="{{ titlePosition === 'left' || titlePosition === 'top' ? '1' : '2' }}" layout-padding>
        <div layout="column" flex>
            <span class="md-subhead" ng-if="title">{{title}}</span>
            <span class="md-body" ng-if="subtitle">{{subtitle}}</span>
        </div>
        <md-button ng-if="menu" class="widget-button md-icon-button" aria-label="More">
            <md-icon md-font-icon="icon-more-vert"></md-icon>
        </md-button>
    </div>
    <div class="widget-content" flex layout layout-align="center center" ng-transclude ng-attr-flex-order="{{ titlePosition === 'left' || titlePosition === 'top' ? '2' : '1'}}"></div>
</div>