// Material Design
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

// - Extends
html, body  {
  height: 100%;
}
body {
  font-size: 14px;
}
md-input-container .md-input {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.app-logo {
  font-family: 'Roboto Slab';
  font-size: 26px;
}

// - Container
#container {
  width: 100%;
  height: 100%;
}
// - Buttons
.tri-button-sm {
  padding: 4px 8px;
}
.tri-button-lg {
  padding: 16px 24px;
}
.tri-fullwidth {
  width: 100%;
}

// - Add-ons

// -- Layout Stretch
[layout-align="center stretch"] {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
[layout-align="start stretch"] {
    -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
[layout-align="end stretch"] {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
[layout-align="space-between stretch"] {
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
[layout-align="space-around stretch"] {
    -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}


// -- Layout Inner padding
[layout-padding-inner="normal"] > [flex] {
  padding: 8px;
}
[layout-padding-inner="big"] > [flex] {
  padding: 24px;
}

// Utility Classes
.circle {
  border-radius: 50%;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.center {
  &.inline-block {
    text-align: center;
  }
  &.block {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
// injector
// endinjector
