<md-tabs class="elements-tabs-music" md-selected="selectedTabIndex" md-stretch-tabs="always">
    <md-tab label="{{music.genre}}" ng-repeat="music in musicList">
        <md-content>
            <md-grid-list md-cols-gt-md="3" md-cols-sm="3" md-cols-md="4" md-row-height="1:1" md-gutter="2px">
                <md-grid-tile md-colspan="1" md-rowspan="1" ng-repeat="album in music.albums" ng-style="{ 'background-image': 'url(' + album.cover + ')' }">
                    <md-grid-tile-footer>
                        <h3>{{album.title}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </md-content>
    </md-tab>
</md-tabs>