<md-button class="md-fab md-primary md-fab-top-right" ng-click="showToast($event, 'top right')">
    <md-icon md-font-icon="icon-dns"></md-icon>
</md-button>
<md-button class="md-fab md-primary md-fab-bottom-right" ng-click="showToast($event, 'bottom right')">
    <md-icon md-font-icon="icon-dns"></md-icon>
</md-button>
<md-button class="md-fab md-primary md-fab-top-left" ng-click="showToast($event, 'top left')">
    <md-icon md-font-icon="icon-dns"></md-icon>
</md-button>
<md-button class="md-fab md-primary md-fab-bottom-left" ng-click="showToast($event, 'bottom left')">
    <md-icon md-font-icon="icon-dns"></md-icon>
</md-button>
<div layout="row" layout-fill layout-align="center center">
    <h2>Click a button to see a toast in action</h2>
</div>
